* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    font-size: 24px; /* 글자 크기 */
    font-weight: bold; /* 글자 굵기 */
}

/* section 요소에 상하 82px, 좌우 112px의 여백을 설정합니다.
   페이지 레이아웃에 일정한 공간을 주어 콘텐츠가 화면 가운데에 배치되도록 합니다. */
.section {
    width: 100%;
}

.section-top {
    display: flex;
    width: 100%;
    background-color: #BDC0FF; /* 배경색 설정 */
    justify-content: flex-start; /* 왼쪽 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
}

.top-text {
    border: none; /* 테두리 제거 */
    font-size: 28px; /* 글자 크기 */
    font-weight: bold; /* 글자 굵기 설정 */
    color: #FFFFFF;
    padding: 10px 10px; /* 상하 0, 좌우 20px의 패딩 설정 */
}

.question-title {
    margin-top: 50px; /* 원하는 마진 값 */
}

.highlighted-text {
    color: #FFFFFF;
    background-color: transparent; /* 배경색 투명하게 설정 */
    padding: 0px 20px; /* 텍스트 주변 여백 */
    border-radius: 5px; /* 둥근 모서리 설정 */
    font-weight: bold; /* 글자 굵게 설정 */
    text-shadow: 
        -1px -1px 0 #A2A5FF,  /* 왼쪽 위 */
        1px -1px 0 #A2A5FF,  /* 오른쪽 위 */
        -1px  1px 0 #A2A5FF,  /* 왼쪽 아래 */
        1px  1px 0 #A2A5FF;  /* 오른쪽 아래 */
}
  
.question-section {
    padding: 20px;
}
  
.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 20px;
}

.section-header h2 {
    font-size: 30px; /* 원하는 크기로 설정 */
    font-weight: bold; /* 원하는 글자 굵기 */
    color: #333; /* 원하는 텍스트 색상 */
}
  
.right-section {
    display: flex;
    align-items: center;
    gap: 10px; /* 버튼과 입력창 사이 간격 */
}
  
.my-page-button {
    width: 190px;
    display: flex;
    padding: 10px 0 10px 0;
    align-items: center;
    background-color: #E8E9FF;
    font-weight: bold;
    font-size: 1em;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
  
.my-page-button .avatar {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
  
.input-container {
    position: relative;
}

.search-icon {
    position: absolute;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
}

.search-input {
    width: 100%;
    padding: 10px 15px 10px 40px; /* 좌측에 아이콘 공간 확보 */
    font-size: 1em;
    border: none; /* 기본 테두리 제거 */
    border-radius: 25px; /* 둥근 모서리 */
    background-color: #F5F5F5; /* 입력창 배경색 */
    outline: 2px solid #BDC0FF; /* 커스터마이징된 테두리 */
    color: #333; /* 텍스트 색상 */
}

.search-input:focus {
    outline-color: #BDC0FF; /* 포커스 시에도 동일한 색상 유지 */
}