* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h3 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .section-top {
    width: 100%;
    background-color: #BDC0FF;
    justify-content: center;
  }
  
  .top-text {
    font-size: 28px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 10px;
  }
  
  .section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .right-section {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .my-page-button {
    width: 190px;
    display: flex;
    padding: 10px 0;
    align-items: center;
    background-color: #E8E9FF;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .my-page-button .avatar {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  
  .input-container {
    position: relative;
  }
  
  .search-icon {
    position: absolute;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
  }
  
  .search-input {
    width: 100%;
    padding: 10px 15px 10px 40px;
    border: none;
    border-radius: 25px;
    background-color: #F5F5F5;
    outline: 2px solid #BDC0FF;
    color: #333;
  }
  
  .search-input:focus {
    outline-color: #BDC0FF;
  }
  
  .user-list {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, minmax(326px, 1fr));
    gap: 25px;
  }
  
  .user-card {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: transform 0.3s, background-color 0.3s;
  }
  
  .user-card:hover {
    transform: scale(1.05);
    background-color: #C2C5FF;
  }
  
  .user-description {
    margin-top: 12px;
    font-size: 16px;
    color: #848484;
  }
  
  .user-description .name {
    font-size: 30px;
    font-weight: bold;
    color: black;
  }
  
  .question-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }